<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Eatapp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 추가된 SettingsActivity -->
        <activity android:name=".SettingsActivity" />

        <!-- 필요한 다른 Activity들도 모두 선언 -->
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".RandomMenuActivity" />
        <activity android:name=".RecommendationResultActivity" />

    </application>


</manifest>